* {
    font-family: 'Courier New', Courier, monospace;
}

.body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    list-style-position: inside;
}

body {
    background-color: bisque;
}

.recipe-pic {
    display: block;
    margin: 0 auto;
}

